<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="DefaultConnection" connectionString="data source=192.168.7.101;initial catalog=PinnacleLog;user id=metro1;password=Pinnacle@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!-- RabbitMQ Settings -->
    <add key="RabbitMQHostName" value="localhost" />
    <add key="RabbitMQUserName" value="guest" />
    <add key="RabbitMQPassword" value="guest" />
    
    <!-- Flexport or API Integration -->
    <add key="FlexportApiDocumentUploadUrl" value="https://logistics-api.flexport.com/logistics/api/2025-03/orders/rs/{shipmentID}/attachments" />
    <add key="FlexportBearerToken" value="shltm_hmB8DzuL7Bs5tLjylHiAngyqrt51DlHx-A9VYUtt" />

    <!-- Logging / File paths -->
    <add key="LogFilePath" value="C:\Logs\FlexportUploadService\" />
    <add key="FileUploadRetryLimit" value="3" />

    <!-- Service-specific settings -->
    <add key="WorkerIntervalSeconds" value="30" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
